/* src/app/admin/Sidebar/Sidebar.css */
.admin-sidebar {
  width: 20rem;
  height: 100vh;
  background: #22223b;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 6rem 1rem;
  gap: 2rem;
  position: fixed;
  left: 0;
  top: 0;
  transition: transform 0.3s cubic-bezier(.4,0,.2,1);
}

.admin-brand {
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  letter-spacing: 2px;
}

.admin-nav {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.admin-nav-link {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
}
.admin-nav-link:hover,
.admin-nav-link.active {
  color: #ed6c6c;
}

.admin-nav-separator {
  border-top: 1px solid #444;
  margin: 1rem 0;
}

.admin-logout {
  text-align: center;
  color: #fff;
  background: #ff2f2f;
  font-weight: 600;
  padding: 0.4rem 1.1rem;
  border-radius: 0.7rem;
  box-shadow: 0 4px 8px #c1505029;
  transition: all 0.3s;
}
.admin-logout:hover {
  background: #e10707;
  color: #fff;
}

.sidebar-toggle-btn {
  color: #22223b;
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 999;
  background: #fff;
  border: none;
  border-radius: 2rem;
  font-size: 2rem;
  width: 4rem;
  height: 4rem;
  box-shadow: 0 2px 8px #0001;
  cursor: pointer;
  transition: background 0.15s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar-toggle-btn:hover {
  background: #ffeafd;
}
/* Mobile responsive */
@media (max-width: 768px) {
  .admin-sidebar {
    transform: translateX(-100%);
    width: 90vw;
  }
  .admin-sidebar.show{
    transform: translateX(0);
  }
}
