.article-section {
  background: transparent;
  padding: 2rem ;
  min-height: 100vh;
}

.article-container {
  text-align: center;
}


.article-description {
  color: #9f2352;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.article-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}

.article-card {
  max-width: 100vw;
  width: 40rem;
  background: #fff;
  border-radius: 1.7rem;
  box-shadow: 0 4px 32px 0 rgba(236, 72, 153, 0.13);
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
}

.article-card:hover {
  transform: scale(1.05);
  box-shadow: 0 14px 36px 0 rgba(236, 72, 153, 0.19);
  z-index: 3;
}

.article-card-image-wrapper {
  width: 100%;
  height: fit-content;
  overflow: hidden;
  background: #ffe3f3;
  border-radius: 1.7rem 1.7rem 0 0;
  border-bottom: 1px solid #fcd5ea;
}

.article-card-image {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

.article-card-meta {
  display: flex;
  gap: 1.1rem;
  font-size: 1rem;
  color: #ea4c89;
  font-weight: 500;
  margin: 1.1rem 1.4rem 0 1.4rem;
  align-items: center;
}

.article-card-date::before {
  content: "🗓 ";
  font-size: 1rem;
}

.article-card-title {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: 700;
  color: #b81e5d;
}

.article-card-desc {
  margin: 1rem;
  color: #393939;
  font-size: 1.2rem;
}

.article-card-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem;
  margin: 1rem;
}

.article-card-tag {
  display: inline-block;
  background: linear-gradient(90deg, #fce7f3 80%, #fff);
  color: #ea4c89;
  font-size: 1.2rem;
  border-radius: 1.3rem;
  padding: 0.2rem 1rem;
  font-weight: 500;
  border: 1px solid #fad6ee;
}
