
@media (max-width: 768px) {
  .promotion-arrow{
  }
  .promotion-image {
    min-width: 85vw;
    max-width: 85vw;
  }
  .promotion-slider-container {
    margin-left: -1rem;
    margin-right: -1rem;
  }
}
