/* @media (max-width: 768px) {
  .review-arrow {
    display: none;
  }
  .review-card {
    min-width: 85vw;
    max-width: 90vw;
    padding: 1rem;
  }
  .review-list {
    gap: 1rem;
  }
  .review-slider-container {
    margin-left: -1rem;
    margin-right: -1rem;
  }
}
   */