@media (max-width: 1536px) {
  .navbar-logo {
    left: -1rem;
    top: 0rem;
    height: 18rem;
    width: 18rem;
  }
  .navbar-logo-img {
    height: 17rem;
  }
}

@media (max-width: 1440px) {
  .navbar-logo {
    left: -1rem;
    top: 0rem;
    height: 17rem;
    width: 17rem;
  }
  .navbar-logo-img {
    height: 16rem;
  }
}

@media (max-width: 1280px) {
  .navbar-logo {
    left: -1rem;
    top: 0rem;
    height: 16rem;
    width: 16rem;
  }
  .navbar-logo-img {
    height: 15rem;
  }
}

@media (max-width: 1024px) {
  .navbar-logo {
    left: -1rem;
    top: 0rem;
    height: 15rem;
    width: 15rem;
  }
  .navbar-logo-img {
    height: 14rem;
  }
}

@media (max-width: 768px) {
  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-menu-mobile {
    padding: 1.5rem 2rem;
  }

  .navbar-logo {
    left: -1rem;
    top: 0rem;
    height: 14rem;
    width: 14rem;
  }
  .navbar-logo-img {
    height: 13rem;
  }
}