@media (max-width: 1536px) {
  .navbar-logo {
    top: -10rem;
    height: 26rem;
    width: 26rem;
  }
  .navbar-logo-img {
    height: 16rem;
  }
  .navbar-Logo-mirage{
    width: 26rem;
  }
}

@media (max-width: 1440px) {
  .navbar-logo {
    left: 0;
    top: -10rem;
    height: 24rem;
    width: 24rem;
  }
  .navbar-logo-img {
    height: 14rem;
  }
  .navbar-Logo-mirage{
    width: 24rem;
  }
}

@media (max-width: 1280px) {
  .navbar-logo {
    left: 0;
    top: -10rem;
    height: 22rem;
    width: 22rem;
  }
  .navbar-logo-img {
    height: 12rem;
  }
  .navbar-Logo-mirage{
    width: 22rem;
  }
}

@media (max-width: 1024px) {
  .navbar-logo {
    left: 0;
    top: -10rem;
    height: 20rem;
    width: 20rem;
  }
  .navbar-logo-img {
    height: 10rem;
    padding: 0.5rem;
  }
  .navbar-Logo-mirage{
    width: 20rem;
  }
}

@media (max-width: 768px) {
  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-menu-mobile {
    padding: 1.5rem 2rem;
  }

  .navbar-logo {
    left: 0;
    top: -10rem;
    height: 20rem;
    width: 20rem;
  }
  .navbar-logo-img {
    height: 10rem;
    padding: 0rem;
  }
  .navbar-Logo-mirage{
    width: 20rem;
  }
}