.services-section {
  position: relative;
  padding: 4rem 1rem 2rem 1rem;
  background: transparent;
  color: #333;
  margin-top: 1rem;
}
.services-section::before {
  content: "";
  display: block;
  position: absolute;
  top: 0; left: 0; right: 0;
  height: 1rem;
  background:
    linear-gradient(
      to bottom,
      rgba(236, 72, 153, 1) 0%,
      rgba(236, 72, 153, 0.9) 10%,
      rgba(236, 72, 153, 0.8) 17.5%,
      rgba(236, 72, 153, 0.7) 25%,
      rgba(236, 72, 153, 0.6) 30%,
      rgba(236, 72, 153, 0.5) 40%,
      rgba(236, 72, 153, 0.4) 50%,
      rgba(236, 72, 153, 0.3) 65%,
      rgba(236, 72, 153, 0.2) 80%,
      rgba(236, 72, 153, 0.1) 95%,
      transparent 100%
    ),
    linear-gradient(
      110deg,
      transparent 0%,

      /* More bright bands! */
      rgba(255,255,255,0.7) 12%,
      rgba(255,255,255,0.9) 18%,
      rgba(255,255,255,1) 22%,
      rgba(255,255,255,0.93) 27%,

      rgba(255,255,255,0.7) 33%,
      rgba(255,255,255,0.9) 38%,
      rgba(255,255,255,1) 43%,
      rgba(255,255,255,0.93) 49%,

      rgba(255,255,255,0.8) 56%,
      rgba(255,255,255,0.7) 64%,
      rgba(255,255,255,0.5) 77%,
      transparent 100%
    );
  background-size: 100% 100%, 200% 100%;
  background-position: 0% 0%, -200% 0%;
  background-repeat: no-repeat;
  animation: shine-move 2s cubic-bezier(.6,0,.4,1) infinite;
  opacity: 1;
  z-index: 2;
}

@keyframes shine-move {
  0%   { background-position: 0% 0%, -200% 0%; }
  100% { background-position: 0% 0%, 200% 0%; }
}






.services-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-description {
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 1rem;
}

.services-category-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* or 'space-between' if you want spacing on edges */
  align-items: center;
  margin-top: 1rem;
}


.services-category {
  text-align: center;
}

.services-example {
  width: 14rem;
  height: 14rem;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.04);
}


.category-title {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Poppins', 'Noto Sans Thai', sans-serif;
  color: #7e22ce;
 /*  background-color: #f3e8ff;  
  border: 2px solid #e9d5ff;
  border-radius: 1rem; */
  padding: 0rem;
  margin: 1rem 0;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.25s ease;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.04); */
}

.category-title:hover {
  color: #6b21a8;
  transform: translateY(-0.2rem);
}
