.admin-navbar {
  width: 100%;
  height: 6rem;
  background: #232346;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 2rem;
  box-shadow: 0 2px 8px rgba(52, 0, 80, 0.07);
  position: sticky;
  top: 0;
  z-index: 100;
}

.admin-navbar-user {
  display: flex;
  align-items: center;
  gap: 1rem;
}


.admin-navbar-avatar {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  object-fit: cover;
  background: #fff;
}

.admin-navbar-username, .admin-navbar-role {
  font-size: 1.5rem;
  font-weight: 500;
}

@media (max-width: 768px) {
  .admin-navbar {
    padding: 0 1rem;
  }
  .admin-navbar-logo {
  }
  .admin-navbar-avatar {
  }
  .admin-navbar-username {
  }
}
